.ActionAdder{
    display: inline-flex;
    margin: 10px;
    /* position: absolute; */
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    flex-direction: column;
}

.adder{
    margin-left:0.1vw;
    margin-right:0.1vw;
    border-radius: 10000vw;
    background-color: grey;
    padding: 3%;
    width: 1.5vw;
}

.input {
    background: transparent;
    border-radius: 2px;
    border-color: gray;
    padding-X: 10px;
    padding-Y: 2px;
    border-radius: 20vh;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;

}

.contain {
    display: flex;
    flex-direction: row;
    width: 100%;
}