.PathComponent{
    border-radius: 100vw;
    height: 1vw;
    width: 21.5vw;
    padding-top: 10px;
    padding-bottom: 20px;
    border-style: solid;
    position:relative;
    padding-left:1vw;
    padding-right: 30px;
    margin-left: -1vw;
    margin-right: -4vw;
    margin-top: 10px;
    color: grey;
    display: flex;
    flex-direction: row;
}

.path-button {
    position: relative;
    border-style: solid;
    border-radius: 100vw;
    background-color: grey;
    padding-top: 5px;
    padding-bottom:20px;
    padding-left: 10px;
    padding-right: 10px; 
    margin-top: -1px;
    margin-right: 10px;
    margin-left: 5px;
    border-color: white;
    color: white;
    display: flex;
}