.Point{
    background: #e7ee23;
    border-radius: 100vw;
    height: .6vw;
    width: .6vw;
    position:absolute;
    z-index: 2;
}

.Robot{
    background: #c50d0d;
    border-radius: .1vw;
    height: 3.63vw;
    width: 3.74vw;
    position:absolute;
}