.ActionList{
    position: absolute;
    padding: 1vw;
    margin: 1vw;
    border-radius: 2vw;
    vertical-align: text-top;
    text-align: left;
    border-style: solid;
    border-width: 0.5px;
    border-color: grey;
    max-height: 15vw;
    overflow-y: auto;
}