.PathList{
    position: absolute;
    border-radius: 2vw;
    right: 19vw;
    vertical-align: text-top;
    border-style: solid;
    text-align: left;
    border-color: grey;
    padding-right: 7vw;
    padding-left: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-right: -3vw;
    margin-left: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.PathComponent {
    background: hsl(0, 0%, 0%);
    border-style: solid;
    border-color: grey;
    border-radius: 100vw;
    margin: 1vw 0;
    text-align: center;
    justify-content: center;
}

