.PathList{
    position: absolute;
    border-radius: 2vw;
    right: 4vw;
    vertical-align: text-top;
    border-style: solid;
    text-align: left;
    border-color: grey;
    padding-right: 7vw;
    padding-left: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 5vw;
    margin-right: -4vw;
    margin-left: 4vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}