#FieldImg{
    width: 69.87vw;
    height:32vw;
    user-select: none;
}

.Field{
    width: 69.87vw;
    /* left:10vw; */
    /* height: 29.33vh;  */
    margin-left: 15.06vw;
    margin-right: 15.06vw;
    position:relative;
    user-select: none;
}