.AutoList{
    background: hsl(0, 0%, 55%);
    position: absolute;
    padding: 1vw;
    margin: 1vw;
    border-radius: 2vw;
    right: 4vw;
    vertical-align: text-top;
}
.AutoComponent{
    background: hsl(21, 9%, 30%);
    border-radius: 100vw;
    height: 1vw;
    width: 10vw;
    padding:.2%;
    
    margin:1vw;
    position:relative;
}